- var sellAs = {0: 'Off', 1: 'Self', 3: 'Mix', 4: 'Colors'}
div(style="font-family: sans-serif;")
    a(href="https://intranet.chums.com/reports/websites/b2b/item-validation/", target="_blank") View in Chums Intranet
    hr
    h2 Discontinued or Inactive B2B Items
    div.table-responsive.mb-5
        table.table.table-sm.table-hover(style="font-size: small" cellpadding="3" cellspacing="0")
            thead
                tr
                    th.text-end(style="padding: 0.25rem 1rem;") Product ID
                    th(style="padding: 0.25rem 1rem;") Keyword
                    th.text-center(style="padding: 0.25rem 1rem;") Sell As
                    th(style="padding: 0.25rem 1rem;") Item Code
                    th(style="padding: 0.25rem 1rem;") Description
                    th.text-center(style="padding: 0.25rem 1rem;") Product Type
                    th.text-center(style="padding: 0.25rem 1rem;") Inactive Item
                    th(style="padding: 0.25rem 1rem;") Item Status
                    th.text-end(style="padding: 0.25rem 1rem;") Available
                    th.text-end(style="padding: 0.25rem 1rem;") Total On Hand
            tbody
                for row in items
                    tr(class=`${row.ProductType === 'D' || row.InactiveItem === 'Y' ? 'text-danger' : ''}`)
                        td.text-end(style="padding: 0.25rem 1rem;")
                            a(href=`https://intranet.chums.com/apps/b2b-products/#/products/${row.keyword}`, target="b2b-products") #{row.id}
                        td(style="padding: 0.25rem 1rem;")
                            a(href=`https://b2b.chums.com/products/${row.keyword}`, target="b2b-site") #{row.keyword}
                        td.text-center(style="padding: 0.25rem 1rem;") #{sellAs[row.sellAs]}
                        td(style="padding: 0.25rem 1rem;")
                            a(href=`https://intranet.chums.com/apps/product-status/#/?itemCode=${row.ItemCode}`, target="product-status") #{row.ItemCode}
                        td(style="padding: 0.25rem 1rem;") #{row.ItemCodeDesc}
                        td.text-center(style="padding: 0.25rem 1rem;") #{row.ProductType}
                        td.text-center(style="padding: 0.25rem 1rem;") #{row.InactiveItem}
                        td(style="padding: 0.25rem 1rem;") #{row.ItemStatus}
                        td.text-end(style="padding: 0.25rem 1rem;") #{row.QuantityAvailable}
                        td.text-end(style="padding: 0.25rem 1rem;") #{row.TotalQuantityOnHand}
    hr
    h2 Discontinued or Inactive B2B Images
    div.mb-5
        table.table.table-sm.table-hover.table-sticky(style="font-size: small" cellpadding="3" cellspacing="0")
            thead
                tr
                    th.text-end(style="padding: 0.25rem 1rem;") Product ID
                    th(style="padding: 0.25rem 1rem;") Keyword
                    th.text-center(style="padding: 0.25rem 1rem;") Sell As
                    th(style="padding: 0.25rem 1rem;") Item Code
                    th(style="padding: 0.25rem 1rem;") Item Status
                    th(style="padding: 0.25rem 1rem; ") Product Image
                    th(style="padding: 0.25rem 1rem;") Default Color
                    th(style="padding: 0.25rem 1rem;") Child Item Code
                    th(style="padding: 0.25rem 1rem;") Child Color Code
                    th(style="padding: 0.25rem 1rem;") Child Status
                    th(style="padding: 0.25rem 1rem;") Preferred Image
                    th(style="padding: 0.25rem 1rem;") Child Image
            tbody
                for row in images
                    tr(class=`${row.ProductType === 'D' || row.InactiveItem === 'Y' ? 'text-danger' : ''}`)
                        td.text-end(style="padding: 0.25rem 1rem;")
                            a(href=`https://intranet.chums.com/apps/b2b-products/#/products/${row.keyword}`, target="b2b-products") #{row.id}
                        td(style="padding: 0.25rem 1rem;")
                            a(href=`https://b2b.chums.com/products/${row.keyword}`, target="b2b-site") #{row.keyword}
                        td.text-center(style="padding: 0.25rem 1rem;") #{sellAs[row.sellAs]}
                        td(style="padding: 0.25rem 1rem;")
                            a(href=`https://intranet.chums.com/apps/product-status/#/?itemCode=${row.ItemCode}`, target="product-status") #{row.ItemCode}
                        td(style="padding: 0.25rem 1rem;") #{row.status}
                        td(style="padding: 0.25rem 1rem;").text-break #{row.productImage}
                        td(style="padding: 0.25rem 1rem;") #{row.defaultColor}
                        td(style="padding: 0.25rem 1rem;") #{row.childItemCode}
                        td(style="padding: 0.25rem 1rem;") #{row.childColorCode}
                        td(style="padding: 0.25rem 1rem;") #{row.childActive}
                        td(style="padding: 0.25rem 1rem;") #{row.preferredImage}
                        td(style="padding: 0.25rem 1rem;").text-break #{row.childImageFilename}
    hr
    h2 Pages with Discontinued Products
    div.table-responsive.mb-5
        table.table.table-sm.table-hover(style="font-size: small" cellpadding="3" cellspacing="0")
            thead
                tr
                    th.text-end(style="padding: 0.25rem 1rem;") Page ID
                    th(style="padding: 0.25rem 1rem;") Page Keyword
                    th(style="padding: 0.25rem 1rem;") Item Title
                    th(style="padding: 0.25rem 1rem;") Product Keyword
                    th(style="padding: 0.25rem 1rem;") Product Status
                    th.text-center(style="padding: 0.25rem 1rem;") Sell As
                    th(style="padding: 0.25rem 1rem;") Item Code
            tbody
                for row in pages
                    tr(class=`${row.ProductType === 'D' || row.InactiveItem === 'Y' ? 'text-danger' : ''}`)
                        td.text-end(style="padding: 0.25rem 1rem;") #{row.id}
                        td(style="padding: 0.25rem 1rem;")
                            a(href=`https://b2b.chums.com/products/${row.pageKeyword}`, target="b2b-site") #{row.pageKeyword}
                        td(style="padding: 0.25rem 1rem;") #{row.itemTitle}
                        td(style="padding: 0.25rem 1rem;")
                            a(href=`https://b2b.chums.com/products/${row.pageKeyword}/${row.productKeyword}`, target="b2b-site") #{row.productKeyword}
                        td(style="padding: 0.25rem 1rem;") #{row.productStatus}
                        td.text-center(style="padding: 0.25rem 1rem;") #{sellAs[row.sellAs]}
                        td(style="padding: 0.25rem 1rem;")
                            a(href=`https://intranet.chums.com/apps/product-status/#/?itemCode=${row.itemCode}`) #{row.itemCode}
    hr
    h2 Products with Inactive Pages
    div.table-responsive.mb-5
        table.table.table-sm.table-hover(style="font-size: small" cellpadding="3" cellspacing="0")
            thead
                tr
                    th.text-end(style="padding: 0.25rem 1rem;") Product ID
                    th(style="padding: 0.25rem 1rem;") Product Keyword
                    th(style="padding: 0.25rem 1rem;") Item Code
                    th.text-center(style="padding: 0.25rem 1rem;") Sell As
                    th(style="padding: 0.25rem 1rem;") Page Keyword
                    th(style="padding: 0.25rem 1rem;") Page Status
                    th(style="padding: 0.25rem 1rem;") Page Item Status
            tbody
                for row in productCategories
                    tr(class=`${row.ProductType === 'D' || row.InactiveItem === 'Y' ? 'text-danger' : ''}`)
                        td.text-end(style="padding: 0.25rem 1rem;")
                            a(href=`https://intranet.chums.com/apps/b2b-products/#/products/${row.keyword}`, target="b2b-products") #{row.id}
                        td(style="padding: 0.25rem 1rem;")
                            a(href=`https://b2b.chums.com/products/${row.pageKeyword}/${row.keyword}`, target="b2b-site") #{row.keyword}
                        td(style="padding: 0.25rem 1rem;") #{row.ItemCode}
                        td.text-center(style="padding: 0.25rem 1rem;") #{sellAs[row.sellAs]}
                        td(style="padding: 0.25rem 1rem;")
                            a(href=`https://b2b.chums.com/products/${row.pageKeyword}`, target="b2b-site") #{row.pageKeyword}
                        td(style="padding: 0.25rem 1rem;") #{row.pageStatus}
                        td(style="padding: 0.25rem 1rem;") #{row.pageItemStatus}
    hr
    h2 Products with Invalid Mixes
    div.table-responsive.mb-5
        table.table.table-sm.table-hover(style="font-size: small" cellpadding="3" cellspacing="0")
            thead
                tr
                    th.text-end(style="padding: 0.25rem 1rem;") Product ID
                    th(style="padding: 0.25rem 1rem;") Product Keyword
                    th(style="padding: 0.25rem 1rem;") Item Code
                    th(style="padding: 0.25rem 1rem;") Name
                    th(style="padding: 0.25rem 1rem;") Mix Component
                    th(style="padding: 0.25rem 1rem;") BOM Component
                    th.text-end(style="padding: 0.25rem 1rem;") Mix Qty
                    th.text-end(style="padding: 0.25rem 1rem;") BOM Qty
            tbody
                for row in mixes
                    tr(class=`${row.ProductType === 'D' || row.InactiveItem === 'Y' ? 'text-danger' : ''}`)
                        td.text-end(style="padding: 0.25rem 1rem;")
                            a(href=`https://intranet.chums.com/apps/b2b-products/#/products/${row.keyword}`, target="b2b-products") #{row.productId}
                        td(style="padding: 0.25rem 1rem;")
                            a(href=`https://b2b.chums.com/products/${row.keyword}`, target="b2b-site") #{row.keyword}
                        td(style="padding: 0.25rem 1rem;") #{row.ItemCode}
                        td(style="padding: 0.25rem 1rem;") #{row.name}
                        td(style="padding: 0.25rem 1rem;") #{row.ComponentItemCode}
                        td(style="padding: 0.25rem 1rem;") #{row.BillComponentItemCode}
                        td.text-end(style="padding: 0.25rem 1rem;") #{row.itemQuantity}
                        td.text-end(style="padding: 0.25rem 1rem;") #{row.QuantityPerBill}
    hr
